<div style="text-align: center; margin-top: 50px;">
  <button (click)="toggleEmojiPicker()">
    Escolher Emoji
  </button>

  <div *ngIf="showEmojiPicker">
    <emoji-mart
      (emojiClick)="addEmoji($event)"
      [darkMode]="false"
      color="green"
      [set]="'twitter'"
      [i18n]="locale">
    </emoji-mart>
  </div>

  <div style="margin-top: 20px;">
    <h3>Emoji Selecionado:</h3>
    <div *ngIf="selectedEmoji" style="font-size: 24px;">
      {{ selectedEmoji.native }}
    </div>
  </div>
</div>
